label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
button {
    background-color:rgb(202, 146, 255);
    color: white;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 0.3cm;
    height: 1cm;

}
body{
    background-color: aliceblue;
}
form {
    width: 300px;
    margin: 0 auto;
    margin-top: 2cm;
}
h1{
    color: blueviolet;
}
h2{
color: blueviolet;
text-align: center;
margin-top: 2cm;
}