form {
    width: 300px;
    margin: 0 auto;
    margin-top: 2cm;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

button {
    background-color:rgb(202, 146, 255);
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 0.3cm;
}
body{
    background-color: aliceblue;
}
.text{
    color: rgb(97, 97, 97);
}
.bko{
    color: blueviolet;
}
.head{
    text-align: center;
}
.h3{
    font-weight: 400;
}